@import url('https://fonts.googleapis.com/css2?family=Anton&family=Notable&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Dirt&family=Smooch+Sans:wght@100..900&display=swap');
body {
    background: linear-gradient(13deg, #ffffff 0%, #ffffff 100%);
    font-family: "Anton", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.header {
    background-color: #000000;
    text-align: center;
    padding: 30px;
    border-bottom: 25px ridge #000000;
}

.header h1 {
    display: none;
}

.album-cover {
    text-align: center;
    margin-bottom: 10px;
}

.album-cover img {
    width: 480px;
    height: auto;
    animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}



.information {
    align-items: center;
    display: flex;
    justify-content: center;
}
.information2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.album-cover img {
    width: 480px;
    height: auto;
    animation: fadeIn 1.5s ease-in;
}
.home-btn {
    color: whitesmoke;
    text-decoration: dashed;
}









