@import url('https://fonts.googleapis.com/css2?family=Anton&family=Notable&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Dirt&family=Smooch+Sans:wght@100..900&display=swap');
body {
    background-color: rgba(243, 243, 243, 0.545);
    font-family: "Anton", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.header {
    background-color: #000000;
    text-align: center;
    padding: 30px;
    border-bottom: 25px ridge #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header h1 {
    display: none;
}

.album-cover {
    text-align: center;
    margin-bottom: 10px;
}

.album-cover img {
    width: 480px;
    height: auto;
    animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.information {
    align-items: center;
    display: flex;
    justify-content: center;
}
.information2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-btn {
    color: whitesmoke;
    text-decoration: dashed;
}

.tracklist-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.tracklist-image.spinning-disc-2 {
  width: 700px !important;
  height: 700px !important;
  border-radius: 50% !important;
  animation: spin 7s linear infinite !important;
}




















