@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background: linear-gradient(13deg, #000000 0%, #ffffff 100%);
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.image-container img {
    max-width: 20%;
    height: 250px;
}
.image-container img:hover {
    transform: scale(1.1) translateY(-20px);
    z-index: 10;
}
.header {
    background-color: #fafafa;
    text-align: center;
    margin-top: 40px;
    padding: 30px;
    border-radius: 15px;
    border: 5px groove #000000;
}

@keyframes glow {
    from { text-shadow: 0 0 10px #000000; }
    to { text-shadow: 0 0 20px #ffffff, 0 0 30px #000000; }
}
.header h1 {
    font-family: "Anton", sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 3.5rem;
    color: #000000;
    text-shadow: 2px 2px 0px #000000, 4px 4px 0px #ffffff;
}


