@import url('https://fonts.googleapis.com/css2?family=Anton&family=Notable&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Dirt&display=swap');


.header {
    background-color: rgb(247, 247, 247);
    text-align: center;
    margin-top: 40px;
}

.header h1 {
    filter: drop-shadow(1px 3px 2px black);
    font-family: "Notable";
}
body {
    background: linear-gradient(13deg, #444343 0%, #ffffff 100%);
    font-family: "Nunito-Sans";
    display: flex;
}
.header2 h1 {
    filter: drop-shadow(5px 1px 1px black);
    
}