@import url('https://fonts.googleapis.com/css2?family=Anton&family=Notable&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Dirt&display=swap');

body {
    background: linear-gradient(13deg, #ffffff 0%, #ffffff 100%);
    font-family: "Anton", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.main-header {
    background-color: #000000;
    text-align: center;
    padding: 30px;
    border-bottom: 25px ridge #ff0000;
}

.main-header h1 {
    font-family: "Rubik Dirt", sans-serif;
    font-weight: 900;
    letter-spacing: 7px;
    font-size: 55px;
    color: #ffffff;
    text-shadow: 2px 2px 0px #000000, 4px 4px 0px #ffffff;
    animation: red-pulse 2s infinite;
}

.album-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}

.album-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-card img {
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.album-card img:hover {
    transform: scale(1.1) translateY(-20px);
}

.album-card p {
    margin-top: 15px;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}

.album-gallery:hover .album-card:not(:hover) {
    filter: blur(5px);
    transition: filter 0.1s ease;
}

.album-card {
    transition: filter 0.1s ease;
}

@keyframes red-pulse {
    0%, 100% { text-shadow: 2px 2px 0px #fdfdfd, 4px 4px 0px #ff0000; }
    50% { text-shadow: 0 0 15px #ff0000, 1px 1px 0px #000000; }
}
