@import url('https://fonts.googleapis.com/css2?family=Anton&family=Notable&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Dirt&display=swap');

body {
    background: linear-gradient(13deg, #000000 0%, #ffffff 100%);
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.header {
    background-color: rgb(247, 247, 247);
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
}

.header h1 {
    filter: drop-shadow(1px 3px 2px rgb(0, 0, 0));
    font-family: "Notable", cursive;
    margin: 0;
}

.header2 h1 {
    filter: drop-shadow(5px 1px 1px black);
    font-family: "Notable", cursive;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.image-container img {
    max-width: 20%;
    height: 250px;
}
